<!-- <app-administrator-home></app-administrator-home> -->

<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around center">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Customers Search">
  </mat-form-field>

  <button mat-raised-button color="primary" routerLink="customerscreate">Create Customer</button>

  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let customer "> {{customer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfEmployeesOfCurrentCustomer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Employees </th>
      <td mat-cell *matCellDef="let customer "> {{customer.numberOfEmployeesOfCurrentCustomer}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfOutlets">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Outlets</th>
      <td mat-cell *matCellDef="let customer "> {{customer.numberOfOutlets[1]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete Customer </th>
      <td mat-cell *matCellDef="let customer">
        <button [disabled]="customer.isDeleted" mat-icon-button color="primary" (click)="deleteCustomer(customer.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit Customer</th>
      <td mat-cell *matCellDef="let customer">
        <button [disabled]="customer.isDeleted" mat-icon-button color="primary"
          (click)="redirectToEditCustomer(customer.id)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </td>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>