<div class="chart-content">
  <div class="chart">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
      [colors]="pieChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
    </canvas>
  </div>

  <div class="buttons">
    <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle
      Legend</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend
      Position</button>
  </div>
</div>