.mat-button{
  margin: 5px;
}
.chart-content {
  margin: 15px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  .buttons {
    margin-top: 20px;
  }
}
