.result-container {
  margin-top: 30px;
  max-width: 700px;
  background-color: aqua
}

mat-card {
  margin: 30px;
}

.header-image {
  background-image: url('../../../../assets/cola-mat-card.jpg');
  background-size: cover;
}

.mat-card-image {
  margin: 0;
}

img {
  max-width: 300px;
  max-height: 300px;
}

button {
  min-width: 300px;
}
