mat-form-field {
  min-width: 300px;
}

button {
  min-width: 300px;
}

zxing-scanner::ng-deep video {
  max-height: 70vh;
  max-width: 70vw;
  object-fit: contain;
}

body {
  height: 100%;
}

.mat-app-background {
  height: 100vh;
}
