<div class="chart-content">
  <div>
    <div>
      <div style="display: block">
        <canvas *ngIf='loaded' baseChart [datasets]="barChartData" [labels]="barChartLabels" [plugins]="barChartPlugins"
          [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>

<!-- [datasets]="barChartData" -->