<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Barcode Scan">
    <ng-template matTabContent>
      <app-scanner></app-scanner>
    </ng-template>
  </mat-tab>
  <mat-tab label="Contact Helpdesk">
    <app-helpdesk></app-helpdesk>
  </mat-tab>
</mat-tab-group>
