@import '../../app-theme';

// Define the dark theme.
$primary: mat-palette($mat-green);
$accent:  mat-palette($mat-purple, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme);
