<!-- <app-administrator-home></app-administrator-home> -->

<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around center">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Outlets Search">
  </mat-form-field>

  <button mat-raised-button color="primary" routerLink="outletscreate">Create Outlet</button>

  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let outlet "> {{outlet.name}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfEmployees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Employees</th>
      <td mat-cell *matCellDef="let outlet "> {{outlet.numberOfEmployees[1]}} </td>
    </ng-container>

    <ng-container matColumnDef="newBrand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
      <td mat-cell *matCellDef="let outlet "> {{outlet.newBrand}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete Outlet </th>
      <td mat-cell *matCellDef="let outlet">
        <button [disabled]="outlet.isDeleted" mat-icon-button color="primary" (click)="deleteOutlet(outlet.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit Outlet</th>
      <td mat-cell *matCellDef="let outlet">
        <button [disabled]="outlet.isDeleted" mat-icon-button color="primary" (click)="redirectToEditOutlet(outlet.id)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </td>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>