table {
  width: 90%;
  height: 100%;
  text-align: center !important;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
  position: relative;
  margin-top: 15px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.date-block{
  display: flex;
}

.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}
