<form class="helpdesk-form" fxLayout="column" fxLayoutAlign="center center" [formGroup]="this.emailForm">
  <div>
    <h3>For HelpDesk request you can send a message here, or call +359888112!</h3>
  </div>
  <mat-form-field>
    <mat-label>Sender Address</mat-label>
    <input #email formControlName="sender" matInput placeholder="Sender Address">
    <span *ngIf="(sender.touched || sender.dirty) && sender.invalid">
      <mat-error>email is required</mat-error>
    </span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Message Content</mat-label>
    <textarea #message formControlName="content" matInput placeholder="Please describe the problem here"></textarea>
    <span *ngIf="(content.touched || content.dirty) && content.invalid">
      <mat-error>Message is required, maximum length is 1000 characters</mat-error>
    </span>
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="this.sendEmail(email.value, message.value)"
    [disabled]="!emailForm.valid">Send to HelpDesk!</button>
</form>
