.auth-centered {
  margin: 0 auto;
  text-align: center;
  width: 25%;
  display: flex;
  flex-direction: column;

}

::placeholder {
  font-size: 1.2em;
}

.alert {
  color: red;
}

.demo-width-class {
  width: 400px;
}
