<div class="home-page" fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-raised-button color="primary" routerLink="/administrator">Administrator Login</button>
    <button mat-raised-button color="primary" routerLink="/users">User Login</button>
    <button mat-raised-button color="primary" routerLink="/helpdesk">Contact Helpdesk</button>
  </div>

</div>
