.home-page {
  height: calc(100vh - 64px);
  width: 100vw;
  background-image: url(../../../assets/coca-cola-Wallpaper-Desktop-Background-number-iTs.jpg);
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .home-page {
    height: calc(100vh - 56px);
    width: 100vw;
    background-image: url(../../../assets/mobile.jpg);
    background-size: cover;
  }
}

button {
  margin: 30px;
  min-width: 250px;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
