<!-- <app-administrator-home></app-administrator-home> -->

<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around center">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Users Search">
  </mat-form-field>


  <button mat-raised-button color="primary" routerLink="userscreate">Create User</button>

  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="visibleOutlet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Outlet</th>
      <td mat-cell *matCellDef="let user "> {{user.visibleOutlet}} </td>
    </ng-container>

    <ng-container matColumnDef="outletCustomer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
      <td mat-cell *matCellDef="let user "> {{user.outletCustomer}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let user "> {{user.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On</th>
      <td mat-cell *matCellDef="let user"> {{user.createdOn | date:'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number </th>
      <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let user">
        <button [disabled]="user.isDeleted" mat-icon-button color="primary" (click)="deleteUser(user.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit User</th>
      <td mat-cell *matCellDef="let user">
        <button [disabled]="user.isDeleted" mat-icon-button color="primary" (click)="redirectToEditUser(user.id)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </td>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>