input.ng-invalid {
  border-right: 5px solid red;
}

input.ng-valid {
  border-right: 5px solid greenyellow;
}

.loginContainer {
  margin-top: 30px;
  width: 350px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #ffff;
  padding: 30px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}
.mat-form-field {
  display: block;
  width: 100%;
  font-size: 20px;
}
.btn-login {
  width: 100%;
  box-shadow: none;
  height: 42px;
}