<div class="loginContainer" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-form-field>
    <input #username="ngModel" matInput placeholder="username" type="text" required ngModel>
  </mat-form-field>

  <div *ngIf="username.invalid && username.dirty && !!username?.errors.required">
    Username is required.
  </div>
  <br />
  <mat-form-field>
    <input #password="ngModel" matInput placeholder="Password" type="password" required ngModel>
  </mat-form-field>


  <div *ngIf="password.invalid && password.dirty && !!password?.errors.required">
    Password is required.
  </div>

  <br />
  <button mat-raised-button color="primary" class="btn-login"
    (click)="triggerLogin(username.value, password.value)">Login</button>
</div>