<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">

    <mat-icon>menu</mat-icon>

  </button>
  <h1>Prize Redemption</h1>
  <span class="fill-space"></span>
  <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Coca-Cola_logo_white.png" title="Coca Cola Company">

  <mat-menu #menu>

    <button mat-menu-item *ngIf="!loggedIn" routerLink="/administrator">
      <mat-icon>account_box</mat-icon>
      <span>Admin Login</span>
    </button>

    <button mat-menu-item *ngIf="!loggedIn" routerLink="/users">
      <mat-icon>account_circle</mat-icon>
      <span>User Login</span>
    </button>

    <button mat-menu-item *ngIf="!loggedIn" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-menu-item *ngIf="loggedIn && !isAdmin" routerLink="/users/profile/{{this.userId}}">
      <mat-icon>camera</mat-icon>
      <span>Codes Scanner</span>
    </button>


    <button mat-menu-item *ngIf="loggedIn && !isAdmin" routerLink="/users/activities/{{this.userId}}">
      <mat-icon>assessment</mat-icon>
      <span>My Activities </span>
    </button>

    <button mat-menu-item *ngIf="loggedIn && !isAdmin" routerLink="/users/outletactivities/{{this.userId}}">
      <mat-icon>list</mat-icon>
      <span>My Outlet's Activities </span>
    </button>

    <button mat-menu-item *ngIf="loggedIn" routerLink="/home" (click)="triggerLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout </span>
    </button>



  </mat-menu>
  <app-theme-picker></app-theme-picker>
</mat-toolbar>
