<!-- <app-administrator-home></app-administrator-home> -->

<div class="auth-centered" [formGroup]="createCustomerForm" (ngSubmit)="createCustomer()">

  <mat-form-field>
    <input #firstName matInput placeholder="Customer Name" formControlName="name" type="text">
    <mat-hint>Should be between 3 and 30 characters</mat-hint>
    <mat-error *ngIf="hasError('name', 'required')"> Outlet Name is required</mat-error>
    <mat-error *ngIf="hasError('name', 'minlength')">Check minimum length requirement - 3</mat-error>
    <mat-error *ngIf="hasError('name', 'maxlength')">Check maximum length requirement - 30 </mat-error>
  </mat-form-field>
  <br />

  <button *ngIf="isComponentInCreateState" mat-raised-button color="primary" (click)="createCustomer()"> Create
    Customer</button>
  <button *ngIf="!isComponentInCreateState" mat-raised-button color="primary" (click)="editCustomer()"> Create
    Customer</button>
</div>
