table {
  width: 90%;
  height: 100%;
  text-align: center !important;
}

.search-filter {
  font-size: 14px;
  width: 50%;
  position: relative;
  margin-top: 15px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

// form {
//   display: flex;
//   align-items: center;
// }

// .date-block {
//   display: flex;
// }

// .date-block_list {
//   flex-basis: 50px;
//   margin-right: 15px;
// }

.export-buttons {
  width: 90%;
}
