<!-- <app-administrator-home></app-administrator-home> -->

<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around center">

  <mat-form-field class='search-filter'>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="User Activities Search"
      [(ngModel)]='this.filterString'>
  </mat-form-field>

  <form class="date-block" [formGroup]="filterForm" class='date-block_list' fxLayout="row" fxLayoutGap="10px"
    fxLayoutAlign="center center">
    <div class="date-block__list">
      <mat-form-field>
        <input [(ngModel)]='this.fromDateFilter' matInput [matDatepicker]="fromDate" placeholder="From Date"
          formControlName="fromDate" [ngModel]>
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="date-block__list">
      <mat-form-field>
        <input [(ngModel)]='this.toDateFilter' matInput [matDatepicker]="toDate" placeholder="To Date"
          formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="primary" (click)="applyDateFilter()">Submit</button>
    <div *ngIf="this.filterString !=='' || this.dateFilterFlag">
      <mat-icon matTooltip="Clear Filter" mat-raised-button color="primary" (click)="clearDateFilter()">clear</mat-icon>
    </div>
  </form>
  <div class='export-buttons' fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
    <mat-icon color="primary" matTooltip="Export to CSV" (click)="exportCsv()">save_alt</mat-icon>
    <mat-icon color="primary" matTooltip="Export to Excel" (click)="exportAsXLSX()">insert_chart_outlined</mat-icon>
  </div>

  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> UserActivity ID </th>
      <td mat-cell *matCellDef="let userActivity "> {{userActivity.id}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let userActivity "> {{userActivity.description}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.date | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.customer}} </td>
    </ng-container>

    <ng-container matColumnDef="outlet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Outlet </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.outlet}} </td>
    </ng-container>

    <ng-container matColumnDef="visibleUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.visibleUser}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>