<mat-dialog-content>
  <h4>
    Do you want to scan prize item barcode?
  </h4>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="false">No, redeem code!</button>
</mat-dialog-actions>
