/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import '~@angular/material/theming';
@import './app-theme';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.my-nav {
  display: block !important;
}

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme);

.mat-app-background{
  min-height: 100vh;
}
.mat-app-background .mat-paginator {
  background: none;
}
