/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';


body, h1 {
  margin: 0;
  padding: 0;
  /* background-image: url(assets/background.jpg); */
}

.my-nav {
  display: block !important;
}
