<div class="mat-app-background">
  <app-navbar [loggedIn]="isLogged" [username]="username" (logout)="logout()" [isAdmin]="this.isAdmin"
    [userId]="this.userId"></app-navbar>
  <div class="auth-content">
    <router-outlet></router-outlet>
  </div>
  <ngx-spinner bdColor="rgba(239, 234, 234, 0.8)" size="medium" color="rgba(238,21,21,0.8)" type="timer">
    <p style="color:red"> Bear with us, we are doing stuff...</p>
  </ngx-spinner>

</div>
