<!-- <app-administrator-home></app-administrator-home> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-dashboard-piechart [redemptionActivities]="redemptionActivities">
      </app-dashboard-piechart>
    </div>
    <div class="col-6">
      <app-dashboard-barchart-customers [redemptionActivities]="redemptionActivities">
      </app-dashboard-barchart-customers>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-dashboard-piechart-winningcodes [redemptionActivities]="redemptionActivities"
        [allWinningCodes]="allWinningCodes">
      </app-dashboard-piechart-winningcodes>
    </div>
    <div class="col-6">
      <app-piechart-outlets-number [redemptionActivities]="redemptionActivities">
      </app-piechart-outlets-number>
    </div>
  </div>


  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />